<div class="card item">
  <img class="card-img-top" src="{{game.cover}}" alt="Foto del juego">
  <div class="card-body">

    <p class="card-title">{{game.name}}</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <a class="category-item" *ngFor="let category of game.categories; let c = index">
          {{category.name}}
        </a>
      </li>
    </ul>
    <a class="card-link" [routerLink]="['/perfil', game.id]" mat-raised-button>Ver</a>
  </div>
</div>
