.card{
    width: 250px;
    height: 300px;
}

.game-image{
    width: 110px;
    height: 125px;
  margin: 0px !important;
}

.mat-card-title{
  font-weight: bold;
  font-size: 16px;
}

mat-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0px;
  background-color: #222148;
}

mat-card-actions button{
  background-color: #7D5DEC;
  color: white;
}

mat-card-content, .game-image, mat-card-subtitle{
  color: white;
}

 mat-card-subtitle{
  color: #6A6A7F;
}

mat-card-content{
  padding: 10px;
}

mat-card-actions, .game-image{
  align-self: center;
}
