<div class="card-prueba">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Nombre FormJuegos
            </mat-card-title>
            <mat-card-subtitle>Categoria</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Foto del juego">
        <mat-card-content>
            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id iure nihil dolores, non voluptatem debitis officia cum quidem eligendi voluptatibus, iste, assumenda provident vel possimus! Qui, id? Perspiciatis, ipsam neque.
            </p>
            <span>Precio: 15000</span>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary">Comprar </button>
            <button mat-raised-button color="warn" >Cerrar</button>
          </mat-card-actions>
    </mat-card>
</div>
