<h1 mat-dialog-title>{{data.name}}</h1>
<div  mat-dialog-content>

    <img mat-card-image src="{{data.picture}}" alt="Foto del juego">
    <p>
        {{data.description}}
    </p>
    <mat-nav-list>
        <mat-list-item>Tamaño: {{data.size}} </mat-list-item>
        <mat-list-item><span>Precio: ${{data.price}}</span> </mat-list-item>
        Categorías:
        <mat-list-item *ngFor="let category of data.categories; let c = index"><span>{{category.name}}</span> </mat-list-item>
    </mat-nav-list>
</div>
<div mat-dialog-actions>
    <button mat-raised-button color="primary" cdkFocusInitial (click)="comprar()">Comprar</button>
    <button mat-raised-button [mat-dialog-close] color="warn" >Cerrar</button>  
</div>

