.card-prueba{
    width: 400px;
    height: 700px;    
}

.mat-dialog-content{
    background-color: #fff;
}

h1, .mat-raised-button{
    color: #fff;
}

.Buy{
    background-color: #7D5DEC !important;
}
