<div class="mat-typography">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="main-toolbar">
            <div>
                <span>
                    YUNO
                </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="menu" >
                <span>
                    Juegos
                </span>
                <span>
                    Categorias
                </span>
                <span>
                    Ventas
                </span>
            </div>            
        </mat-toolbar-row>
        <!-- <mat-toolbar-row>
            Categorias
        </mat-toolbar-row> -->
    </mat-toolbar>
</div>