<div class="mat-typography nav">
    <mat-toolbar color="primary">
        <mat-toolbar-row class="menu" fxLayout="row" fxLayoutAlign="space-between center" class="main-toolbar">

                <span>
                    <span>
                      <img class="img-responsive" id="fullLogo" src="assets/images/fullLogo.svg">
                    </span>
                </span>

            <div fxLayout="row" fxLayoutAlign="space-between center" class="menu">
                <span>
                    <a class="nav-item" mat-button [routerLink]="'/'" class="mat-h1 options">Inicio</a>
                    <a mat-button [routerLink]="'/games'" class="mat-h1 options">Juegos</a>
                </span>
              <span class="ml-3">
                    <button mat-button [routerLink]="" class="mat-h1">Ingresar</button>
              </span>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
