<div class="mat-typography">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center" class="main-toolbar">            
            <mat-icon class="logo">
                <a mat-button [routerLink]="'/'" class="mat-h1">
                    YUNO
                </a>
            </mat-icon>     
            <div fxLayout="row" fxLayoutAlign="space-between center" class="menu" *ngIf="admin">
                <span>
                    <a mat-button [routerLink]="'/games'" class="mat-h1">Juegos</a>
                </span>
                <span>
                    <a mat-button  class="mat-h1" (click)="logout()">Cerrar sesion</a>
                </span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="menu" *ngIf="!admin">
                <span>
                    <a mat-button  class="mat-h1" (click)="login()">Iniciar sesion</a>
                </span>
            </div>

        </mat-toolbar-row>
    </mat-toolbar>
</div>