.menu {
    width: 300px;
    margin-left: 100px;
    margin-right: 100px;
}

#fullLogo {
  width:12%;
  margin-left: 100px;
}

Span a.options {
  color: #7D5DEC;
}

Span button {
  background-color: #7D5DEC;
}

.mat-toolbar.mat-primary {
  background: #222148;
}
