
<div class="formulario" fxLayout="column" fxLayoutAlign="space-around center" >
    <h2>Ingresar un Videojuego</h2>
    <form [formGroup]="FormJuegos"> 
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput type="text" formControlName="NombreJuego">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label appearance="fill">Precio</mat-label>
            <input matInput type="text" formControlName="PrecioJuego">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label appearance="fill">Descripcion</mat-label>
            <textarea matInput type="text" formControlName="DescripcionJuego"></textarea>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label appearance="fill">Tamaño</mat-label>
            <input matInput type="text" formControlName="TamanoJuego">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label appearance="fill">Caratula url</mat-label>
            <input matInput type="text" formControlName="CoverUrlJuego">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label appearance="fill">Imagen url</mat-label>
            <input matInput type="text" formControlName="PictureUrlJuego">
        </mat-form-field>               
    </form>
    <button class="btn-from-juego" mat-raised-button color="warn" (click)="agrergarJuego()">Agregar Juego</button>
</div>